<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Servicio_DescargarArchivo_Galileo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />-->
  </startup>
  <applicationSettings>
    <Servicio_DescargarArchivo_Galileo.Properties.Settings>
      <setting name="FTP" serializeAs="String">
        <value>ftp://158.69.112.103</value>
      </setting>
      <setting name="FTP_Usuario" serializeAs="String">
        <value>Timesolution</value>
      </setting>
      <setting name="FTP_Contrasena" serializeAs="String">
        <value>Timesol1</value>
      </setting>
      <setting name="RutaArchivoALeer" serializeAs="String">
        <value>C:\IMPEXP\Procesar\</value>
      </setting>
      <setting name="RutaArchivoProcesado" serializeAs="String">
        <value>C:\IMPEXP\Procesados\</value>
      </setting>
      <setting name="RutaLog" serializeAs="String">
        <value>C:\IMPEXP\Log\log.txt</value>
      </setting>
      <setting name="ModoDesarrollo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RutaLogNoImportados" serializeAs="String">
        <value>C:\IMPEXP\No_Procesados\ORDENES_NO_PROCESADOS.txt</value>
      </setting>
    </Servicio_DescargarArchivo_Galileo.Properties.Settings>
  </applicationSettings>
  <!--<userSettings>
        <Servicio_DescargarArchivo_Galileo.Properties.Settings>
            <setting name="RutaLog" serializeAs="String">
                <value>C:\IMPEXP\Log\log.txt</value>
            </setting>
        </Servicio_DescargarArchivo_Galileo.Properties.Settings>
    </userSettings>-->
</configuration>