USE [HOST_IMPEXP]
GO
/****** Object:  Table [dbo].[IMP_ORDINI]    Script Date: 24/9/2020 14:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMP_ORDINI](
	[ORD_ORDINE] [nvarchar](20) NOT NULL,
	[ORD_DES] [nvarchar](50) NOT NULL,
	[ORD_TIPOOP] [nvarchar](5) NOT NULL,
	[ORD_CLIENTE] [nvarchar](1000) NULL,
	[ORD_ERRORE] [nvarchar](1000) NOT NULL,
	[ORD_IMME] [int] NULL,
	[ORD_ATTR3] [nvarchar](500) NULL,
 CONSTRAINT [PK_IMP_ORDINI] PRIMARY KEY CLUSTERED 
(
	[ORD_ORDINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMP_ORDINI_RIGHE]    Script Date: 24/9/2020 14:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMP_ORDINI_RIGHE](
	[RIG_ORDINE] [nvarchar](20) NOT NULL,
	[RIG_ARTICOLO] [nvarchar](50) NOT NULL,
	[RIG_QTAR] [decimal](11, 3) NOT NULL,
	[RIG_ERRORE] [nvarchar](1000) NOT NULL,
	[RIG_SUB1] [nvarchar](20) NOT NULL,
	[RIG_DSCAD] [nvarchar](10) NOT NULL,
	[NOTADEPEDIDO] [nvarchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMP_ORDINI] ADD  CONSTRAINT [DF_IMP_ORDINI_ORD_IMME]  DEFAULT ((0)) FOR [ORD_IMME]
GO
ALTER TABLE [dbo].[IMP_ORDINI_RIGHE] ADD  CONSTRAINT [DF_IMP_ORDINI_RIGHE_RIG_QTAR]  DEFAULT ((0)) FOR [RIG_QTAR]
GO
ALTER TABLE [dbo].[IMP_ORDINI_RIGHE] ADD  CONSTRAINT [DF_IMP_ORDINI_RIGHE_RIG_ERRORE]  DEFAULT ('') FOR [RIG_ERRORE]
GO
/****** Object:  StoredProcedure [dbo].[Gest_ObtenerRegistros_Pedido]    Script Date: 24/9/2020 14:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Gest_ObtenerRegistros_Pedido]
as
BEGIN
select distinct
e.ORD_ORDINE,
e.ORD_DES,
e.ORD_TIPOOP,
eo.STO_EFF_ARTICOLO,
eo.STO_QTAR,
(SELECT SUM(STO_EFF_QTA) FROM EXP_ORDINI_RIGHE_sto WHERE STO_ORDINE = eo.STO_ORDINE) as ENTREGADO,
(eo.STO_QTAR-(SELECT SUM(STO_EFF_QTA) FROM EXP_ORDINI_RIGHE_sto WHERE STO_ORDINE = eo.STO_ORDINE)) as DIFERENCIA,
eo.STO_EFF_DSCAD1,
(SELECT  STO_EXE_NOTE + ' '
FROM EXP_ORDINI_RIGHE_sto WHERE STO_ORDINE = eo.STO_ORDINE AND STO_EXE_NOTE <> ''
FOR XML PATH ('')) as STO_EXE_NOTE
from EXP_ORDINI e
INNER join EXP_ORDINI_RIGHE_sto eo on eo.sto_ordine = e.ord_ordine
group by e.ORD_ORDINE,
e.ORD_DES,
e.ORD_TIPOOP,
eo.STO_EFF_ARTICOLO,
eo.STO_QTAR,
eo.STO_EFF_DSCAD1,
eo.STO_EXE_NOTE,
eo.STO_ORDINE
END;
GO
